{{#if resume.talks}}
     <section class="section experiences-section">
         <h2 class="section-title"><i class="fas fa-volume-up"></i>Talks</h2>
        <ul  style="list-style-type:disc">
        {{#each resume.talks}}
        <li>
          <b>{{date}}</b>:
          <ol>
          {{#each list}}
              <li><i>{{talk}}</i>, {{#markdown}}{{name}}{{/markdown}}, {{date}},
              {{place}}{{#if slides}} (<a href="resources/slides/{{slides}}">slides</a>){{/if}}{{#if video}} (<a href={{video}}>video</a>){{/if}}{{#if poster}} (<a href="resources/poster/{{poster}}">poster</a>){{/if}}.</li>
          {{/each}}
          </ol>
        </li>
        {{/each}}
        </ul>
     </section><!--//section-->
{{/if}}
