{{#if resume.teaching}}
    <section class="section experiences-section">
        <h2 class="section-title"><i class="fas fa-graduation-cap"></i>Teaching</h2>

        {{#resume.teaching}}
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                      <div class='column2' id='teaching'>
                        <div>
                          <h3 class="job-title">{{#markdown}}{{course}}{{/markdown}}</h3>
                          <div class="time-strong"><small>{{position}}</small></div>
                        </div>
                        <div>
                          <div class="company">{{students}}</div>
                          <div class="time-low">{{startDate}} {{#if endDate}} - {{endDate}}{{/if}}</div>
                        </div>
                      </div>
                    </div><!--//upper-row-->
                    <caption align="bottom">{{#markdown}}{{summary}}{{/markdown}}</caption>
                </div><!--//meta-->
            </div><!--//item-->
        {{/resume.teaching}}
    </section><!--//section-->
{{/if}}
