{{#if resume.work}}
     <section class="section experiences-section">
        <h2 class="section-title"><i class="fas fa-briefcase"></i>Research experience</h2>
        {{#resume.work}}
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{position}}</h3>
                        {{#if date}}
                          <div class="time">{{monthYearOf date}}</div>
                        {{else}}
                          <div class="time">{{monthYearOf startDate}} - {{monthYearOf endDate}}</div>
                        {{/if}}
                    </div><!--//upper-row-->
                    <div class="company">{{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{name}}{{#if location}}, {{location}}{{/if}}{{#if url}}</a>{{/if}}</div>
                </div><!--//meta-->
                <div class="details">
                    {{#markdown}}{{summary}}{{/markdown}}
                </div><!--//details-->
            </div><!--//item-->
        {{/resume.work}}
    </section><!--//section-->
{{/if}}
